.div-adoptar{
    margin-top: -0.20cm;
    background-color: transparent;
    height: "inherit";
    width: "inherit";
    background-image: url("../../Fotos/adoptar.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}