.fondo{
     background: white;
     /* height: calc(99vh - 70px) */
}

#modificar-mascota{
     display: none;
     text-align: center;
}

.info-mascotas{
     text-align: left;
     font-size: 25px;
     margin-bottom: 1rem;
}

.btn-atras{
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 15px;
     background-color: black;
     color: white;
     margin: 0 5px 0 5px;
     width: 370px;
     border-radius: 3px;
     margin-bottom: 10px;
}


